@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
  }
  .swiper-pagination-bullet {
  background: #4f46e5;
  }

.toast
{
  position: fixed;
  top: 6rem;
  right: 1.8rem;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border-bottom: 0;
  border-color: red;
  font-size: 1.2rem;
  z-index: 1;
  font-family: 'Times New Roman', Times, serif;
  animation: toastAnimation 2s linear;
}

@keyframes toastAnimation{
  0%{
    transform: translateX(100%);
    opacity: 0;
  }
  20%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}